<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="goToHome()">subject</mat-icon>
    </div>
    <div>
        <h1> {{title}}</h1>
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="goToHome()">assignment_ind</mat-icon>
    </div>

</div>
<div *ngFor="let person of persons; index as i">
    {{ isPersonYoungOrOld(person, i) }}
</div>


<div class="section-container">
    <div *ngIf="isUserLoggedIn()">
        <button class=underline mat-button color="accent"(click)="goTocustomer()">Deposit</button>
    </div> 
    <div>
        <router-outlet></router-outlet>
    </div>
    <div>
        right
    </div>
</div>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>


