<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters">
    <input matInput #input maxlength="10" placeholder="Enter FullName" [(ngModel)]="customer.name" name="name">
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field>
  
    <mat-form-field >
      <input matInput #input maxlength="10" placeholder="Enter Email" [(ngModel)]="customer.email" name="email">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
    
      <mat-form-field >
        <input matInput #input maxlength="10" placeholder="Enter Password" [(ngModel)]="customer.password" name="pwd">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
     
        <mat-form-field >
          <input matInput #input maxlength="10" placeholder="Enter DOB" [(ngModel)]="customer.dob" name="dob">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
       
          <mat-form-field >
            <input matInput #input maxlength="10" placeholder="Enter Address" [(ngModel)]="customer.address" name="add">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
          <mat-form-field >
            <input matInput #input maxlength="10" placeholder="Enter Age" [(ngModel)]="customer.age" name="age">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
          

  <mat-form-field>
    <mat-select placeholder="employement">
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
  <button class=underline mat-raised-button color="warn" (click)=" userFormData()">SignIn</button>
</div>