<div class = "signup-container">
  <div>
    <mat-form-field>
      <input matInput placeholder="FirstName" [(ngModel)]="customer.firstName" name="firstname">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="LastName" [(ngModel)]="customer.lastname" name="lastname">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="customer.email" name="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="customer.password" name="password">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Verify password" [(ngModel)]="customer.verifypassword" name="verifypassword">
    </mat-form-field>
  </div>

  
</div>
<button mat-raised-button color="warn" (click)="register()">SignUp</button>